#desktop-view{
    display: none;
}

span{
    color:  hsl(4, 46%, 70%);
}



@media screen and (min-width:600px) {
    
    #desktop-view{
        display: block;
        background-image: url('/src/images/bg-pattern-desktop.svg');
        background-size: 699px 584px;
        background-position: 2px 1px;
        background-repeat: no-repeat;
    }
    

   
 }